[submodule "gts-web-01"]
	path = gts-web-01
	url = git@github.com:trainman419/gts-web-01.git
[submodule "gts-web-03"]
	path = gts-web-03
	url = git@github.com:trainman419/gts-web-03.git
[submodule "gts-web-04"]
	path = gts-web-04
	url = git@github.com:trainman419/gts-web-04.git
[submodule "gts-web-05"]
	path = gts-web-05
	url = git@github.com:trainman419/gts-web-05.git
